<%- include("partials/header.ejs") %>
<% if (locals.image) { %>
 <img src=<%= locals.image %>>
<% } else { %>
 <div class = "container">
    <h1>Welcome to the QR-code generator. </h1>
<form action="/submit" method="post">
<label for="url">URL</label>
<input type="text" name="url" placeholder="paste your url here">
<button type="button">submit</button>
</form>
</div>
    <% } %>
<%- include("partials/footer.ejs") %>